DATABASE_URL=sqlite:///./voice_examiner.db
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
GIGACHAT_AUTH_KEY=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
VERIFY_SSL_CERTS=true
SALUTESPEECH_AUTH_KEY=
SALUTESPEECH_SCOPE=SALUTE_SPEECH_PERS
